</main>

<footer class="site-footer w3-container w3-center w3-padding w3-margin-top"
        style="background:#0f9d79; color:#fff;">
    <p>© 2025 PregUnLaM - Juego en desarrollo</p>
</footer>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script src="/public/js/registro.js"></script>
<script src="/public/js/mapaRegistro.js"></script>
</body>
</html>
